<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
<!--  <appSettings>
    <add key="g_SDEConnect"  value="Provider=sqloledb;Data Source = 172.16.34.120;Initial Catalog=sde;User Id = sa;Password = sa" />
    <add key="g_LocalConnect"  value=""   />
    <add key="TraceLevel"  value="4" />
    <add key="FTPUserName"  value="lq" />
    <add key="FTPPassword"  value="lq" />
    <add key="FTPURL"  value="ftp://172.16.34.233:9999" />
    <add key="FTPRemoteFolder"  value="" />
    <add key="FTPLocalFolder"  value="E:\湛江系统\房改房数据\2000籍003武汉市建筑材料总公司" />
    <add key="FTPMode"  value="Upload" />
    <add key="MaxWorkerThreadCount"  value="16" />
    <add key="CleanupDays"  value="0" />
  </appSettings>
  configSections>
    </configSections>
    <connectionStrings>
    </connectionStrings-->
</configuration>